[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
gunicorn = "==21.2.0"

[dev-packages]

[requires]
python_version = "3.11"
