[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
gunicorn = "==21.2.0"
psycopg = "==3.1.9"
strawberry-graphql-django = "==0.16.0"
strawberry-django-auth = "==0.376.2"
pillow = "==10.0.0"
django-graphql-auth = "*"
whitenoise = "==6.5.0"

[dev-packages]
pytest = "*"
requests = "*"
pytest-django = "*"
rich = "*"

[requires]
python_version = "3.11"
